.cldsmodelling {
	height: 90vh;
	overflow: hidden;
	margin-left: 1px;
	margin-right: 1px;
}

.cl_panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	width:100% ;
	height: 100%;
	border-color: #337ab7;
}

.cl_panel_heading{
	color: #fff;
	background-color: #337ab7;
	border-color: #337ab7;
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	font-size: 12px;
}

.pull-left{
	float: left !important;
}
.pull-right{
	float: right !important;
}

.cl_view_body {
	height: 83.5vh; width: 100%;
}

.js_canvas {
	margin-top: 200px;
	margin-left: 20px;
	margin-right: 20px;
}