[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/onap-gerrit-clamp-committers
	read = group GitHub Replication
[project]
	description = CLAMP is a platform for designing and managing control loops.
[allowSuperproject "doc"]
	matching = refs/heads/beijing:refs/heads/2.0.0-ONAP
